.services .title {
  color: var(--color-primary);
}
.services .card {
  width: 300px;
  height: 150px;
  border: 2px solid var(--color-light);
  background: none;
  color: var(--color-light);
}

.services .card:hover {
  color: var(--color-primary);
  border: 2px solid var(--color-primary) !important;
  transition: 0.2s;
}

.services .services .row {
  justify-content: center !important;
}
