


.card {
  width: 300px;
  height: 150px;
  border: 2px solid var(--color-light);
  background: none;
  color: var(--color-light);
}


.card a {
  color: inherit;
}


.card-hovered {
  color: var(--color-primary) ;
  border: 2px solid var(--color-primary) !important;
  transition:  0.2s ;
}


