.offer .photo img {
  width: 400px;
  border-radius: 50%;
  border: 5px solid var(--color-primary);
}

.offer .site a {
  color: var(--color-primary);
}

.offer .status a:hover {
  cursor: pointer;
}

.offer .date {
  color: var(--color-secondary);
}

.offer ul {
  list-style-type: disc;
}
