.main-navbar {
  background-color: var(--color-dark);
  color: var(--color-light);
  min-height: 75px;

  /* z-index: 1; */
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler:focus {
  border: 2px solid white;
}

.hover-white {
  color: var(--color-light);
}
.hover-white:hover {
  color: var(--color-primary);
}
